/* utility */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1A1818 !important;
    margin: 0px;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.bg-dark {
    background-color: #1A1818 !important;
}

.text-white {
    color: #fff !important;
}

.text-primary {
    color: #C02F1D !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.img-fluid {
    width: 100% !important;
    display: block;
}

.bg-shadow{
    box-shadow: 0px 9px 31px 6px rgba(0, 0, 0, .2);
}

/* utility */

/* Navbar */

.brand img {
    width: 200px;
    padding: 20px 0px;
}

.header-container {
    background-color: #1A1818 !important;

}

.header {
    padding: 2.3rem 0px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.flex-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: none;


}

.flex-row {
    flex-direction: row;
    padding: 0.1rem 0px;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;

    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.menu-icon {
    display: none;
}

.navBar {
    font-size: 15px;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
}

.nav-link {
    padding: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.nav-list {
    height: auto;
    transition: height .2s ease-out;
    overflow: hidden;

}

.menu-btn:checked~.navBar .nav-list {
    height: auto;
}

@media (max-width: 767px) {
    .nav-item {
        width: 100%;
        border-bottom: 1px solid black;
    }

    .brand img {
        width: 150px !important;
    }

    .brand {
        float: left;
    }

    .hamburger {
        float: right;
    }

    .navBar {
        clear: both;
        float: none !important;
    }

    .nav-list {
        height: 0;
    }

    .menu-icon {
        display: block;
        float: right;
    }

    .nav-link {
        font-size: 15px;
        padding: 15px;
    }

    .header {
        display: block !important;
        padding: 10px;
    }

    #header {
        position: sticky;
        top: 0;
        z-index: 9999;

    }

    #header-stikcy {
        display: none !important;
    }

}

/* Navbar */

.label {
    font-size: 17px;
}





.work {
    position: relative;
    width: 100%;
}

.work a {
    width: 100%;
}

.work .overlay {
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 69, 69, 0.6) 100%);
    height: 100%;
    position: absolute;
    width: 100%;
    transform: scale(0);
    opacity: 0;
    top: 0;
}

.work:hover .overlay {
    transform: scale(1);
    opacity: 1;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.d-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-link {
    display: block;
}



.loadMore {
    z-index: 1;
    margin: 50px auto;
    position: relative;
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
    padding: 15px 25px;
    transition: .5s all;
    border: 1px solid #C02F1D;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 17px;
    margin: 20px 0;
}

.loadMore:focus {
    outline: 0;
}

.loadMore::after {
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: -12px;
    bottom: 0;
    z-index: 11;
    height: 1px;
    transition: .5s all;
    width: 24px;
    background-color: #C02F1D;
}

.loadMore:hover {
    transition: .5s all;
    color: #C02F1D;
}

.loadMore:hover:after {
    left: 92%;
    transition: .5s all;
}



.footer-line {
    font-size: 15px;
}



/* social icon  */

.icon {
    position: relative;
    text-align: center;
    width: 0px;
    height: 0px;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
}

.icon i {
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 10px;
}

.icon.social {
    display: inline-block;
    margin: 0 5px 0 0;
    cursor: pointer;
    background: #6d6e71;
    color: #262626;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

.icon.social:hover {
    background: #262626;
    color: #6d6e71;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -moz-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -ms-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    -o-filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
    filter: drop-shadow(0 1px 10px rgba(0, 0, 0, .8));
}

.icon.social.fb i {
    left: 13px;
    top: 10px;
}

.icon.social.tw i {
    left: 11px;
}

.icon.social.in i {
    left: 11px;
}

/* social icon  */


/* about us  */

.aboutMain {
    position: relative;
}
.about-star
{
    font-size: 16px;
}



.imgMain {
    position: relative;
    display: inline-block;
}

.imgMain.aboutImg img {
    width: 445px;
}

.imgMain::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 222px;
    height: 5px;
    background-color: #C02F1D;
}

.post .imgMain::after {
    height: 0;
    width: 0;
}

.imgMain::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 69, 69) 100%);
    opacity: .5;
    transition: 1s all;
}

.imgMain:hover:before {
    opacity: 0;
    transition: 1s all;
}

.aboutContent,
.serviceContent {
    width: 80%;
    background-color: #1E1D1D;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 15%;
    z-index: -1;
}

.aboutContentInner {
    width: 70%;
    position: relative;
}

.aboutContent::after {
    height: 2px;
    width: 70%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C02F1D;
}

.adName {
    color: #F82C2C;
    margin: 0;
}

.fontChange {
    font-family: 'Playfair Display', serif;
    margin: 0;
    font-size: 42px;
}

.mainPara {
    color: #727171;
    font-size: 18px;
    line-height: 1.7;
}

/* services part */


.about-title
{
    font-family: "Playfair Display";
    font-size: 3.4rem;
    letter-spacing: 2px;

}


.about-title::after{
    content: '';
    position: absolute;
    top: 59px;
    left: 57px;
    width: 120px;
    height: 120px;
    z-index: 1;
    background: url(http://esensifiksi.com/tf/akar/assets/img/text-bg-light.svg)repeat;
    background-size: 10px;
    opacity: .1;
    transform: rotate(45deg);
}

.service-title {
    font-family: "Playfair Display";
    font-size: 2.2rem;
    letter-spacing: 2px;
}

.service-info,
.about-info {
    line-height: 1.7;
    color: #727171;
    font-size: 17px;
}

.bgbox::after {
    content: "";
    position: absolute;
    height: 110%;
    width: 130%;
    background-color: #1E1D1D;
    top: 0;
    z-index: -1;
}

.bgbox:nth-child(even)::after {
    right: 0;

}

.bgbox:nth-child(odd)::after {
    left: 0;

}

.img-outline {
    position: relative;
    background: transparent;
    z-index: 99;
}

.img-outline:hover::after {
    opacity: .5;
}

.img-outline::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s all;
    opacity: 0;
    background-image: -webkit-linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 69, 69) 100%);

}

.strip-left::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 222px;
    height: 4px;
    background-color: #C02F1D;
    z-index: 2;
}
.strip-right::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 222px;
    height: 4px;
    background-color: #C02F1D;
    z-index: 2;
}


.line-strip::before {
    content: '';
    position: absolute;
    width: 222px;
    left: 0;
    top: 0;
    height: 4px;
    background-color: #C02F1D;
}



@media (max-width: 991px) {
    .bgbox::after {
        display: none;
    }

    .service-item {
        background-color: #1E1D1D;
    }

    .img-outline::before {
        left: 0 !important;

    }

    .line-strip::before{
        display: none;
    }
}

/* @media (min-width: 768px) and (max-width: 991px) {

    .bgbox::after {
        display: none;
    }
} */


/* service  */


/* client part */

.client {
    height: 166px;
    background-color: #1E1D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}

.client:hover {
    box-shadow: 0px 0px 25px #00000052;
    transition: .5s all;
}

/* form part */

.formImg {
    text-align: right;
}

.formLeft {
    position: relative;
}

.formMain {
    position: relative;
}

.formMain::after {
    content: '';
    width: 620px;
    height: 460px;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: -1;
    background: #1E1D1D;
}

.input {
    background-color: #1E1D1D;
    display: flex;
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.formContent .adInfo {
    padding: 8px 0;
}

.formContent .fa {
    color: #C02F1D;
    margin-left: 0;
    transition: .5s all;
}

.formContent .adInfo {
    display: table;
}

.formContent .adInfo p {
    display: table-cell;
    vertical-align: middle;
}

.formContent .adInfo p:nth-child(1) {
    margin: 0;
    width: 30px;
}

.formContent p span {
    font-size: 14px;
}

.fa {
    margin: 0 10px;
    font-size: 50px;
    color: #727171;
}

input,
textarea {
    height: 100%;
    background: transparent;
    width: 100%;
    padding: 0 5px;
    border: 0;
    font-size: 16px;
    color: #727171;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    width: 100%;
    resize: none;
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    .formMain::after {
        width: 800px;
    }
}

/* load more part */

.loader-ellips {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}

.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
    left: 3em;
}

.page-load-status {
    display: none;
    /* hidden by default */
    padding-top: 20px;
    text-align: center;
    color: #777;
}

@keyframes reveal {
    0% {
        transform: scale(0.001);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes slide {
    100% {
        transform: translateX(1.5em);
    }
}



/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    /* sidebar part */
    .responsiveMain {
        margin-top: 100px;
    }

    .logo {
        overflow: auto;
        padding: 0 20px 0;
        position: relative;
    }



    .logo img {
        width: 150px;
        float: left;
    }

    .cardMain {
        text-align: center;
    }

    .nav {
        background: #1A1818;
        width: 100%;
        position: absolute;
        height: 0;
        overflow: hidden;
        top: auto;
        z-index: 1;
        opacity: 0;
        transition: .5s all;
    }

    .navToggle {
        height: auto;
        opacity: 1;
        transition: .5s all;
    }

    .nav ul {
        width: 100%;
    }

    .nav ul li {
        display: block;
        padding: 0 15px;
        transition: .5s all;
    }

    .navToggle ul li {
        transition: .5s all;
        padding: 15px;
    }

    .navToggle ul li a {
        transition: .5s all;
        font-size: 21px;
    }

    /* about part */
    .aboutContent,
    .serviceContent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
    }

    .aboutContent::after {
        height: 0;
    }

    .aboutContentInner {
        width: 100%;
    }

    .imgMain {
        text-align: center;
    }

    .imgMain.aboutImg img {
        width: 100%;
    }

    .imgMain::after {
        right: 225px;
        margin: auto;
    }

    /* services part */
    .servicesInner {
        font-size: 0;
    }

    .firstService {
        position: relative;
        width: 100%;
        margin: 50px 0;
        display: block;
        padding: 0px 10px;
    }

    .serviceImg {
        width: 100%;
        text-align: center;
    }

    .serviceContent {
        position: relative;
        width: 100%;
    }

    .servicesContentMain {
        width: 100%;
    }

    /* form part */
    .formMain::after {
        width: 0;
        height: 0;
    }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .cardMain {
        text-align: center;
    }

    /* about part */
    .aboutContent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background: transparent;
    }

    .aboutContent::after {
        height: 0;
    }

    .aboutContentInner {
        width: 100%;
    }

    .imgMain {
        text-align: center;
    }

    .imgMain::after {
        right: 225px;
        margin: auto;
    }

    /* services part */
    .servicesInner {
        font-size: 0;
    }

    .firstService {
        position: relative;
        width: 50%;
        margin: 50px 0;
        display: inline-block;
        padding: 0px 10px;
    }

    .serviceContent {
        position: relative;
        width: 100%;
    }

    .servicesContentMain {
        width: 100%;
    }

    /* form part */
    .formImg {
        text-align: center;
    }

    .formMain::after {
        width: 0;
        height: 0;
    }
}